{
  "plugins": ["source-map-support","@babel/plugin-syntax-dynamic-import"],
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules":"commonjs",
        "targets": {
          "node": "8.10"
        }
      }
    ]
  ]
}