# package directories
node_modules
jspm_packages

# build directories
.webpack

# Serverless directories
.serverless
config.json

# OSX stupid annoying stuff
.DS_Store

# IDE and other configs
.vscode
.idea

# Logs or another stupid stuff
*.log